.App-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	font-size: 40px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.App-body {
	height: 100%;
	margin-top: 10px;
}

.GameBoard {
	position: relative;
	margin: 0 auto;
	background-color: #000;
	/* background-image: linear-gradient(#333 1px, transparent 1px),
		linear-gradient(90deg, #333 1px, transparent 1px); */
}

.empty {
	background-color: rgb(2, 255, 15);
}
.snake {
	background-color: rgb(99, 77, 197);
}
.food {
	background-color: red;
}

ul {
	list-style-type: none;
	width: fit-content;
	margin: 0;
}
li {
	float: left;
	display: block;
	width: 1rem;
	height: 1rem;
	margin: 0;
	border: 1px solid black;
}

.test-board {
	display: flex;
	flex-direction: column;
	align-items: center;
}
